{{define "footer"}}
<footer class="footer">
    <div class="content has-text-centered">
        <a href="#">About</a>
        <a href="#">Contact</a>
        <span>(c)2018 Cryptotax</span>
    </div>
</footer>
{{end}}
