{{define "hero"}}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Cryptotax ACB Tool</h1>
        </div>
    </div>
</section>
{{end}}
