{{define "hero"}}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Cryptotax ACB Tool</h1>
        </div>
    </div>
    <hr>
</section>
{{end}}
