{{define "content"}}
<h2>Select exchange CSV files to upload</h2>
<form id="file-upload" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div class="file">
        <label class="file-label">
            <input class="file-input" type="file" multiple name="file">
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                    Choose file(s)…
                </span>
            </span>
        </label>
    </div>
    <p class="help is-danger"></p>
</form>

{{block "file_manager" .}}{{end}}
{{block "trade_viewer" .}}{{end}}

{{end}}

{{define "scripts"}}
<script src="/web/components/file_manager.js"></script>
<script src="/web/components/trade_viewer.js"></script>
<script>
    $(document).ready(function() {
        // load existing files
        {{range $k, $v := .Data.Files}}
            var f = {
                "id": {{$v.ID}},
                "name": {{$v.Name}},
                "date": {{$v.CreatedAt}},
                "state": "uploaded",
                "exchange": {{$v.Source}},
            };
            app.files.push(f);
        {{end}}
    });
</script>
{{end}}
