{{define "navigation"}}
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#" style="font-weight:bold;">MG</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true">Exchange Data</span>
            <span aria-hidden="true">Other Trades</span>
            <span aria-hidden="true">Reports</span>
            <span aria-hidden="true">User Profile</span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="#" class="navbar-item is-active">Exchange Data</a>
            <a href="#" class="navbar-item">Other Trades</a>
            <a href="#" class="navbar-item">Reports</a>
        </div>
        <div class="navbar-end">
            <a href="#" class="navbar-item">User Profile</a>
        </div>
    </div>
</nav>
{{end}}
