{{define "navigation"}}
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/" style="font-weight:bold;">MG</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span></span>
            <span></span>
            {{if .LoggedIn}}
                <span></span>
            {{end}}
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            {{if .LoggedIn}}
                <a href="#" class="navbar-item is-active">Exchange Data</a>
                <a href="#" class="navbar-item">Other Trades</a>
                <a href="#" class="navbar-item">Reports</a>
            {{end}}
        </div>
        <div class="navbar-end">
            {{if .LoggedIn}}
                <a href="#" class="navbar-item">User Profile</a>
            {{else}}
                <a href="#" class="navbar-item">Log In</a>
                <a href="/register" class="navbar-item">Register</a>
            {{end}}
        </div>
    </div>
</nav>
{{end}}
