{{define "content"}}
<h1 class="title">View Trade Reports</h1>
<h2 class="subtitle">Performance, Tax, etc.</h2>
{{block "report_viewer" .}}{{end}}
{{end}}

{{define "scripts"}}
<script src="/web/components/report_viewer.js"></script>
{{end}}
