{{define "content"}}
{{if .}}
<a href="/currency">Continue</a>
{{end}}
<form method="POST" action="/newreport">
    <input type="submit" value="Start new report">
</form>

<main-content inline-template>
    <div><h1>${message}</h1></div>
</main-content>
{{end}}
