$primary: #8A7D66;
$footer-height: 50px;


html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 $footer-height;
    padding: 25px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    overflow: hidden;
    padding: 1rem !important;
}

.hidden {
    display: none !important;
}
