$primary: #999BEA;
$red: #FF0000;
$green: #00FF00;
$footer-height: 50px;
$table-row-active-background-color: lighten($primary, 20%);
$table-row-active-color: #363636;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 $footer-height;
    padding: 25px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    overflow: hidden;
    padding: 1rem !important;
}

.hidden {
    display: none !important;
}

.radio {
    input {
        float: left;
        margin-right: 5px;
    }
    label {
        float: left;
    }
}

.red-progress {
    color: $red;
}

.green-progress {
    color: $green;
}
