<!DOCTYPE html>
<html>
    <head>
        <title>Cryptotax ACB Calculator</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            ${ message }
        </div>

        <script>
            var app = new Vue({
                delimiters: ['${', '}'],
                el: '#app',
                data: {
                    message: 'Hello Vue!'
                }
            })
        </script>

    </body>
</html>
