{{define "content"}}
<h2>Upload Trade Data Files</h2>
<ul>
    <li>
        <form enctype="multipart/form-data" action="/upload" method="POST">
            <input type="file" name="uploadfile">
            <select name="exchange">
                <option value="" disabled selected>Select Exchange</option>
                {{range $i, $e := .Exchanges}}
                    <option value="{{$e}}">{{$e}}</option>
                {{end}}
            </select>
            <input type="submit" value="Upload">
        </form>
    </li>
    {{range $i, $f := .Files}}
    <li>
        <div>{{$f.Name}}</div>
        <div>{{$f.Source}}</div>
        <div>{{$f.CreatedAt}}</div>
        <div>
            <form action="/deletefile" method="POST">
                <input type="hidden" name="fileid" value="{{$f.ID}}">
                <input type="submit" value="Remove">
            </form>
        </div>
    </li>
    {{end}}
</ul>
<a href="/currency">Back</a>
<a href="/trades">Next</a>
{{end}}
