<html>
    <head>
        <title>Cryptotax ACB Calculator</title>
        {{block "style" .}} {{end}}
    </head>
    <body>
        <header>
            {{block "header" .}} {{end}}
        </header>
        {{template "content" .}}

        <footer>

        </footer>

        {{block "js" .}} {{end}}
    </body>
</html>
